<div class="sidebar pure-u">
    <div class="cover-img" style="background-image: url('{{ COVER_IMG_URL }}')">
        <div class="cover-body">
            <header class="header">
                <hgroup>
                    <h1 class="brand-main"><a href="/">{{ SITENAME }}</a></h1>
                    <p class="tagline">{{ TAGLINE }}</p>
                {% for title, link in MENUITEMS %}
                    <p class="links"><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% for title, link in SOCIAL %}
                    {% if title == 'Twitter' %}
                        <p class="links" style="display: inline;"><a href="{{ link }}"><img src="/images/twitter.png" style="width:30px; height: 30px;"/></a></li>
                    {% else %}
                        {% if title == "LinkedIn" %}
                            <p class="links" style="display: inline; padding-left: 5px;"><a href="{{ link }}"><img src="/images/linkedin.png" style="width:32px; height: 32px;"/></a></li>
                        {% else %}
                            <p class="links"><a href="{{ link }}">{{ title }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </hgroup>
            </header>
        </div>
    </div>
</div>
